<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="YouTrackServer" value="devlabpro.myjetbrains.com" />
    <add key="Port" value="443" />
    <add key="IsSsl" value="y" />
    <add key="Path" value="youtrack" />
    <add key="Login" value="root" />
    <add key="Password" value="" />
  </appSettings>
</configuration>
